{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}
<style>
    .articles{
        border-radius:10px;
        box-shadow: 0 4px 16px rgba(0,0,0,.25);
        padding: 16px 20px;
    }
    img{
        border-radius:10px;
        box-shadow: 0 4px 16px rgba(0,0,0,.25);
        margin:10px;
    }
</style>
<h1> Welcome in my Blog</h1>
{% for article in articles%}
<section class="articles mt-5">
    <article class="mb-5">
        <h2>{{ article.title}}</h2>
    <div class="metadata">
        datum {{ article.createdAt | date('d-m-y')}} Uhr {{ article.createdAt | date('H:i')}}
        <span class="badge badge-danger">
        {{ article.category.title }}
        </span>
   
    {% if article.user %}
        User: <span class="badge badge-success">{{ article.user.firstName}} {{ article.user.lastName}}</span>
    {% endif %}

    </div>
    <div class="content">
        <img src="{{ article.image}}">
        <p>{{ article.content}}</p>
               <a class="btn btn-info" href="{{path('article_show', {'id' : article.id})}}">weiter read</a>
    </div>
    </article>
</section>


{% endfor%}
<div class="navigation mt-5">
    {{ knp_pagination_render(articles)}}
</div>
{% endblock %}
