{% extends 'base.html.twig' %}
{% form_theme commentForm 'bootstrap_4_layout.html.twig' %}
{% block title %}Article {% endblock %} 

{% block body %}
    <h1>Article</h1>
    <style>
    .articles{
        border-radius:10px;
        box-shadow: 0 4px 16px rgba(0,0,0,.25);
        padding: 16px 20px;
    }
    img{
        border-radius:10px;
        box-shadow: 0 4px 16px rgba(0,0,0,.25);
        margin:10px;
    }
    #comments{
        padding:10px;
    }
</style>
<h1> Welcome in my Blog</h1>
<section class="articles mt-5">
    <article class="mb-5">
        <h2>{{ article.title}}</h2>
    <div class="metadata">
        datum {{ article.createdAt | date('d-m-y')}} Uhr {{ article.createdAt | date('H:i')}}
        <span class="badge badge-danger">
        {{ article.category.title }}
        </span>
        <span class="badge badge-success">
        {{ article.comments | length }} Comments
        </span>
    </div>
    <div class="content">
        <img src="{{article.image}}">
        <p>{{ article.content}}</p>
    </div>
    </article>
</section>
{% if app.user %}
    {% if app.user == article.user%}
<a href="{{path('article_edit', {'id' : article.id})}}" class="btn btn-success mt-5">Edit</a>
    {% endif%}
{% endif%}
<hr>
<section id="comments">
    {% for comment in article.comments %}
        <div class="comment">
            <div class="row">
                <div class="md-col-3" style="color:red;">
                    (<small>{{ comment.createdAt | date('y-m-d')}} Uhr {{ comment.createdAt | date('H:i')}}</small>) {{comment.author}}
                </div>
            </div>
            <p>{{comment.content}}</p>
        </div>
    {% endfor%}    
</section>

<hr>

{% if not app.user %}
    <h3>You must be login</h3>
    <a class="btn btn-info" href="{{path('app_login')}}">Login</<a>
{% else %}
<section>
    <h2> Add Comment</h2>
    {{ form_start(commentForm)}}
    {{ form_widget(commentForm)}}

        <button class="btn btn-success mb-5">Add Comment</button>
    {{ form_end(commentForm)}}
</section>
{% endif %}
{% endblock %}